@page "/"

<PageTitle>Home of Richard SG Cooke</PageTitle>
<h3>So the items below are a class, a razor component, and a loop on those.</h3>
<p>Today I learned about Microsoft.AspNetCore.Components.MarkupString. I was trying to use html in a string but evidently theres a way for that. There are some double quotes to get around things. I think I can use single quotes inside the html and then just do double quotes for the c# stuff.</p>

@foreach (var item in projectItems)
{
    <ProjectItemComponent Item="item" />
}



@code{
    private List<ProjectItem> projectItems = new List<ProjectItem>();
    protected override void OnInitialized()
    {
        projectItems.Add(new ProjectItem
        {
            Title = "This Site",
            Description = new MarkupString("<p>This site is built with Blazor WebAssembly. It's a single page application that runs in the browser. It's written in C# and Razor. It's hosted on Apache/Ubuntu. It's a static site. It's a progressive web app. It's a lot of things!</p> <a href='https://github.com/richardsgcooke/richardsgcooke-wasm'>Oh, this repo lives here</a>"),
        });
        projectItems.Add(new ProjectItem
            {
                Title = "About Me",
                Description = new MarkupString("<p>Hi! I'm a software developer, Dad, Husband, Son, Neighbor, Musician, Joker from Ottawa. I'm passionate about coding and technology but music is probably my greatest passion.</p>"),
                ListThings = new List<string>
                {
                    "Learning technologies. Especially in software but I am conversant in other areas like EE or whatever.",
                    "Writing music",
                    "Building and fixing things! Why buy when you can build?! I keep our washers and furnaces all in good repair. I've built entire bikes, speakers, a few electric guitars, shelves, odds and ends.",
                    "My list of interests is varied and long. Life is just too short!",
                }
            });        
            projectItems.Add(new ProjectItem
            {
                Title = "my plan",
                Description = new MarkupString("<p>This site is built with Blazor WebAssembly. It's a single page application that runs in the browser. It's written in C# and Razor. It's hosted on Apache/Ubuntu. It's a static site. It's a progressive web app. It's a lot of things!</p>"),
                ListThings = new List<string>
                {
                    "I think that I will",
                    "see about making up my own little blog platform here.",
                    "should I make a /newpost/ page with a full gui? Do it in code like I am here?",
                    
                }
            });
    }
}